  *, *::before, *::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.signin_body {
    width: 100%;
    background-color: #EFEEF1;
    background:url('https://amplifypay.com/Assets/Web/images/bg2.png');
    overflow: hidden;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.logo {
    user-select: none;
}

.navbar {
    background: none;
    border: none;
}

.navbar ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    border-right: 2px solid #000;
    padding: 0px 17px !important; 
    text-transform: capitalize;
}

.navbar ul li:last-child a {
    border-right: none;
    text-transform: none;
}

.navbar ul li:last-child {
    padding-right: 0px;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #EEEEEE;
    opacity: 1;
}

.container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    font-size: 35px;
    color : #000;   
    line-height: 1.5;
}

.btn {
    border-radius: 3px;
    font-size: 16px;
    background: #22baa0;
    color : #fff;
    text-align: center;
    border: none;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn:hover {
    background-color: #209783;
    color: #fff;
}


*, *::before, *::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.signup_body {
  background-color: #ECECEC;
  font-family: 'Roboto', sans-serif;
}

 .header {
    text-align: center;
    padding-top: .5em;
    
}

.h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom:10px ;
}

.section-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 15px;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 30%);
  border-radius: 4px;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

::placeholder {
  width: 100%;
}

.input-group {
    position: relative;
    border-collapse: separate;
    top: 8.5px ;
}

.input-group-icon:first-child {
    border-right: 0;
}
.input-group-icon {
 padding: 9px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

input[type='text'], input[type='password'] {
  width: 50%; 
  font-size: 14px;
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  outline: none;
}

 label {
  width: 180px;
  font-size: 18px;
  font-weight: 700;
  
} 

.checkbox {
  text-align: center;
  margin-left: 72px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.row #btn {
  border-radius: 3px;
  font-size: 18px;
  background: #22baa0;
  color: #fff;
  text-align: center;
  padding: 11px 80px;
  border: none;
  margin-left: 120px;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.forgot_password a {
  text-decoration: none;
}

.forgot_password a:hover {
  text-decoration: underline;
}

input[type='submit'] {
  background-color: #25BB9F ;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 2px;
  font-size: 20px;
}

@media (max-width:768px) {
  .signin_body {
    width: 100%;
    background-color: #EFEEF1;
    background-image:none;
    overflow: hidden;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container{
  margin-top: 7em;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: .6em 0px!important;
    font-size: 30px;
    color : #000;   
    line-height: 1.5;
}

.btn {
    padding: 5px 40px;
}
.section-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 30%);
  border-radius: 4px;
}

.checkbox {
  text-align: center;
  margin-left: 170px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.row #btn {
  border-radius: 3px;
  font-size: 18px;
  background: #22baa0;
  color: #fff;
  text-align: center;
  padding: 11px 80px;
  border: none;
  margin-left: 120px;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
}




 
